
@font-face {
  font-family: 'titillium_webregular';
	src: url('titilliumweb-regular-webfont.woff2') format('woff2'),
	url('titilliumweb-regular-webfont.woff') format('woff');
	font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'titillium_webextralight';
    src: url('titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('titilliumweb-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lobsterregular';
    src: url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tekoregular';
    src: url('teko-regular-webfont.woff2') format('woff2'),
         url('teko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
  scroll-behavior: smooth;
} 
body { 
	font-family: 'titillium_webregular',Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
  text-align: center;
}







/* Style the header */
.header {
  border: 2px solid #fa9720;
  background:url(https://wallpaperbro.com/img/514005.jpg);
  padding: 100px;
  text-align: center;
  color: black;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
  text-align: center;
}
/* Style the navigation bar links */
.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px 15px;
  text-decoration: none;
  transition-duration:  1s;
}
/* Change color on hover */
.navbar a:hover {
  background-color:yellow;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}












/* MAIN 1*/
.main1 {  
  text-align: center; 
  padding: 300px;
  background-image: url(https://i.imgur.com/Mseh4CP.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f79817;

}
.main1 h1 {
  font-size:100px;
  line-height: 0px;
  color: #f79817;
  text-shadow: 4px 4px 5px black;

}











/* MAIN 2*/
.main2 {  
  text-align:center;
  font-size:50px;
  background-color: black;
  background-position: center;
  text-shadow: 2px 2px 2px orange;


}
.main2 h1{
	font-size: 100px;
	color: yellow;
}
.main2 h2{
	font-size: 50px;
  text-shadow: 2px 2px 2px yellow;
}
.main2 p{
  padding: 20px;
  padding-bottom: 5px;
  font-family: 'titillium_webextralight',Arial, sans-serif;
  font-weight: normal;
	font-size: 30px;
  text-align: justify;
  text-justify: inter-word;

}
.main2container{
  width: 450px;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
	margin: 20px;
  margin-bottom: 50px;
  font-size:30px;
  display: inline-block;
  background-color: #f79817;
  border: 5px solid yellow;
  border-radius: 25px; 
}
.main2container img{
  border-radius: 25px;
}











/*MAIN 3*/
.main3{
  width: 1800px;
  height: 600px;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px; 
  padding-top:50px;
  padding-bottom:10px; 
  display: inline-block;
  background-position: center;
  background-color: white;
  margin: 10px 10px 0px 10px;
  border-radius: 25px 25px 0px 0px;
  border: 2px solid #f79817;
}
.main3cont1{
  float: left;
  text-align: left;
  font-size: 100px;
  line-height: 0px;
  text-shadow: 2px 2px 2px orange;
  float: left;
}
.main3cont2{
 float: right;
 padding-left: 100px;
}
.main3cont2 img{
  border-radius: 25px;
}















/*MAIN 4*/
.main4{
  width: 1800px;
  height: 600px;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px; 
  padding-top:50px;
  padding-bottom:10px; 
  display: inline-block;
  background-position: center;
  background-color: white;
  margin: 0px 10px 10px 10px;
  border-radius: 0px 0px 25px 25px;
  border: 2px solid #f79817;
}
.main4 p{
  font-family: 'lobsterregular',Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size:70px;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 2px 5px 5px yellow;
}















/*MAIN 5*/
.main5{
  background-color:#f79817;
  padding: 50px;
  font-size: 100px;

}
.main5 h1{
  font-family: 'tekoregular',Arial, sans-serif;
}

.m5logo{
  padding: 10px;

}
.m5logo img{
  width: 20%;
  height: 20%;
}













/* Footer */
.footer {
  text-align: center;
  background-color: white;
  
}
.footer a:hover{
  background-color:yellow;
  color: black;

}




































/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}