 body {
background-image: url(https://66.media.tumblr.com/089a88aaecaa7cd35708851804de75ef/tumblr_o52u32R4Fb1qd79gyo6_540.gif);
	text-align:center;
	background-size:cover;
	background-attachment: fixed;
	font-family:"Arial";

}

header {
	margin: 10px 10px;
	padding: 20px;
	color: orange;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: tahoma;
}


.Score {
	width: 150px;
	padding-top: 25px;
	margin: 20px auto;
	font-size:50px;
	font-weight: bold;
	font-family: "Courier New";
	color: black;
	text-align: center;
	position: relative;
}

.name {
	font-size: 25px;
}

 #user-name {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 }

 #computer-name {
 	position: absolute;
 	top: 0px;
 	right: 0px;
 }


.choices {
	text-align: center;
}

.choice {
	margin: 30px;
	padding: 15px 32px;
	border-radius: 25px;
	display: inline-block;
	color: black;
	background-color: orange;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.5s;
}

.result {
	margin: 300px;
	padding: -300px;
	border: 5px solid orange;
	background-color: orange;
	text-align: center;
}
.choice:hover {
	background: black;
	color: orange;
	cursor: pointer;

}

p {
	margin: 10px auto;
	font-size: 25px;
}